#hero {
    min-height: 0vh;
    position: relative;
}
video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.capa {
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #1c1c1c;
    opacity: 0.5;
    mix-blend-mode: overlay;
}
.promo {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 60%;
    margin: auto;
    position: relative;
    z-index: 2;
}
.promo h2 {
    font-size: 40px;
    font-family: 'Kaisei Opti', serif;
    margin-left: -30px;
    text-align: center;
    color: rgb(221, 208, 224);
    font-weight: 700;
}
.promo p {
  font-size: 31px;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  color: rgb(221, 208, 224);
  font-weight: 700;
}

button {
    margin-top: 270px;
    position: absolute;
    border: none;
    outline: none;
    font-size: 20px;
  }
  .custom-btn {
    width: 130px;
    height: 50px;
    color: rgb(216, 157, 157);
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;
    outline: none;
  }
  
.btn-5:hover {
    color: #f0094a;
    background: transparent;
    box-shadow:none;
  }
  .btn-5:before,
  .btn-5:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #f0094a;

    transition:400ms ease all;
  }
  .btn-5:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .btn-5:hover:before,
  .btn-5:hover:after{
    width:100%;
    transition:800ms ease all;
  }