<div class="wrapper">
    <div class="body">
        <img class="logo" src="../../../assets/img/login.png" alt="Login">
        <h1>Recupera tu contraseña</h1>
        <form>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label>Email</label>
            </div>
            <button pButton pRipple type="button" label="Enviar" class="p-button-rounded p-button-help"></button>
            <a routerLink="/login">Volver</a>
        </form>
    </div>
</div>