<div id="contenedor">    
    <div *ngIf="!loading" id="contenedorcentrado">
        <div id="login">
            <form [formGroup]="recuperarUsuario" (ngSubmit)="recuperar()" id="loginform">
                <label for="usuario">Email</label>
                <input formControlName="correo" id="usuario" type="text" name="Email" placeholder="Usuario" required>
                <span *ngIf="recuperarUsuario.get('correo')?.hasError('required') && recuperarUsuario.get('correo')?.touched" class="text-danger errorLabel">
                    El <strong>correo</strong> es obligatorio
                </span>
                <span *ngIf="recuperarUsuario.get('correo')?.hasError('email') && recuperarUsuario.get('correo')?.touched" class="text-danger errorLabel">
                    El <strong>correo</strong> no es valido
                </span>
                <button [disabled]="recuperarUsuario.invalid" type="submit" title="Ingresar" name="Ingresar">Enviar</button>
            </form>
            
        </div>
        <div id="derecho">
            <div class="titulo">
                Recupera tu contraseña
            </div>
            <hr>
            <div class="pie-form">
                <a routerLink="/registrar-usuario">¿No tienes Cuenta? Registrate</a>
                <hr>
                <a routerLink="/login">« Volver</a>
            </div>
        </div>
    </div>
</div>