<app-dashboard></app-dashboard>
<div class="container p-4">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Agregar Danza</h3>
                    <form class="mt-4">
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Nombre">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <input type="file" class="form-control mt-2" placeholder="Teoria">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <input type="file" class="form-control mt-2" placeholder="Coreografia">
                            </div>
                        </div>
                        <div class="mt-3">
                            <button class="btn btn-dark" routerLink="/teoria1">Volver</button>
                            <button class="btn" type="submit">Agregar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>