<app-dashboard></app-dashboard>
<div class="container mt-4">
    <div class="card">
        <div class="card-body">           
            <span class="h3">Teoria</span> <button>Volver</button>
        </div>
        <div class="card-body">
            <span class="h3">Listado de Danzas</span>
            <table class="table table-striped mt-4">
                <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Teoria de la Danza</th>
                    <th scope="col">Coreografia de la Danza</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Gato</td>
                    <td><a href="../../../assets/doc/a 1 -el gato.doc"><i class="pi pi-download"></i></a></td>
                    <td><a href="../../../assets/doc/a 1 -el gato 1.doc"><i class="pi pi-download"></i></a></td>
                </tr>
                <tr>
                    <td>Gato Cuyano</td>
                    <td><a href="../../../assets/doc/a 2 -el gato cuyano.doc"><i class="pi pi-download"></i></a></td>
                    <td><a href="../../../assets/doc/a 2 -el gato cuyano 1.doc"><i class="pi pi-download"></i></a></td>
                </tr>
                <tr>
                    <td>Gato Porteño</td>
                    <td><a href="../../../assets/doc/a 3- el gato Porteño.doc"><i class="pi pi-download"></i></a></td>
                    <td>
                        <a href="../../../assets/doc/a 3- el gato Porteño 1.doc"><i class="pi pi-download"></i></a>
                        --<a href="../../../assets/doc/a 3- el gato Porteño 2.doc"><i class="pi pi-download"></i></a>
                        --<a href="../../../assets/doc/a 3- el gato Porteño 3.doc"><i class="pi pi-download"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>Gato Patriotico</td>
                    <td><a href="../../../assets/doc/a 4 - el gato patriotico.doc"><i class="pi pi-download"></i></a></td>
                    <td><a href="../../../assets/doc/a 4 - el gato patriotico 1.doc"><i class="pi pi-download"></i></a></td>
                </tr>
                <tr>
                    <td>Gato con Relaciones</td>
                    <td><a href="../../../assets/doc/a 5- el gato con relaciones.doc"><i class="pi pi-download"></i></a></td>
                    <td><a href="../../../assets/doc/a 5 - el gato con relaciones 1.doc"><i class="pi pi-download"></i></a></td>
                </tr>
                <tr>
                    <td>El Palito</td>
                    <td><a href="../../../assets/doc/a 6 - el palito.doc"><i class="pi pi-download"></i></a></td>
                    <td><a href="../../../assets/doc/a 6 - el palito 1.doc"><i class="pi pi-download"></i></a></td>
                </tr>
                <tr>
                    <td>Chacarera</td>
                    <td><a href="../../../assets/doc/a 7 -  chacarera.doc"><i class="pi pi-download"></i></a></td>
                    <td><a href="../../../assets/doc/a 7 -  chacarera 1.doc"><i class="pi pi-download"></i></a></td>
                </tr>
                <tr>
                    <td>Chacarera Doble</td>
                    <td><a href="../../../assets/doc/a 8 - chacarera doble.doc"><i class="pi pi-download"></i></a></td>
                </tr>
                <tr>
                    <td>La Calandria</td>
                    <td><a href="../../../assets/doc/a 9 - la calandria.doc"><i class="pi pi-download"></i></a></td>
                    <td><a href="../../../assets/doc/a 9 - la calandria 1.doc"><i class="pi pi-download"></i></a></td>
                </tr>
                <tr>
                    <td>Caramba</td>
                    <td><a href="../../../assets/doc/a 10 - caramba.doc"><i class="pi pi-download"></i></a></td>
                    <td><a href="../../../assets/doc/a 10 - caramba 1.doc"><i class="pi pi-download"></i></a></td>
                </tr>
                <tr>
                    <td>Gato Encadenado</td>
                    <td><a href="../../../assets/doc/a 11 - el gato encadenado.doc"><i class="pi pi-download"></i></a></td>
                    <td><a href="../../../assets/doc/a 11 - el gato encadenado 1.doc"><i class="pi pi-download"></i></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>