<app-dashboard></app-dashboard>
<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Listado de Danzas</span>
            <button class="btn btn-lg" routerLink="/create-teoria1">Agregar</button>
            <table class="table table-striped mt-4">
                <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Teoria de la Danza</th>
                    <th scope="col">Coreografia de la Danza</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Gato</td>
                    <td><a href="../../../assets/doc/a 1 -el gato.doc"><i class="pi pi-download"></i></a></td>
                    <td><a href="../../../assets/doc/a 1 -el gato 1.doc"><i class="pi pi-download"></i></a></td>
                    <td><i class="pi pi-pencil text-info"></i></td>
                    <td><i class="pi pi-trash"></i></td>
                </tr>
                <tr>
                    <td>Gato Cuyano</td>
                    <td><a href="../../../assets/doc/a 2 -el gato cuyano.doc"><i class="pi pi-download"></i></a></td>
                    <td><a href="../../../assets/doc/a 2 -el gato cuyano 1.doc"><i class="pi pi-download"></i></a></td>
                    <td><i class="pi pi-pencil text-info"></i></td>
                    <td><i class="pi pi-trash"></i></td>
                </tr>
                <tr>
                    <td>Gato Porteño</td>
                    <td><a href="../../../assets/doc/a 3- el gato Porteño.doc"><i class="pi pi-download"></i></a></td>
                    <td>
                        <a href="../../../assets/doc/a 3- el gato Porteño 1.doc"><i class="pi pi-download"></i></a>
                        --<a href="../../../assets/doc/a 3- el gato Porteño 2.doc"><i class="pi pi-download"></i></a>
                        --<a href="../../../assets/doc/a 3- el gato Porteño 3.doc"><i class="pi pi-download"></i></a>
                    </td>
                    <td><i class="pi pi-pencil text-info"></i></td>
                    <td><i class="pi pi-trash"></i></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>