.col-4 {
    margin-top: 3rem;
}
.tit {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.tit1 {
    justify-content: center;
    text-align: start;
}
.pi {
    margin-left: 10px;
    color: blue;
    cursor: pointer;
}
.pi-trash {
    color: red;
}
.hide {
    display: none;
}
h1 {
    font-family: 'Nunito', sans-serif;
}
h3 {
    font-family: 'Nunito', sans-serif;
}
td {
    font-size: 14.5px;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
}
.h3 {
    font-family: 'Nunito', sans-serif;
}
button {
    margin-left: 58rem;
    justify-content: end;
    text-align: right;
}

.btn {
    background-color: transparent;
    color: #000000;
}