<nav class="navbar navbar-expand-lg">
  <img class="logo" src="../../../assets/img/logo.jpeg" alt="Logo">
  <div class="container-fluid">
    <a class="navbar-brand" style="color: #D4AFB9;">Prof. Danzas Folkloricas</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <p-splitButton label="Menu" [model]="this.items" styleClass="p-button-sm p-button-danger mr-2">
      </p-splitButton>
    </div>
  </div>
</nav>