/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


html, body { 
    margin:0;
    background: #fffbd5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f39eaf, #fffbd5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f39eaf, #fffbd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 500%;
    animation: fanimado 10s infinite;
}
@keyframes fanimado {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
h1 { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
    font-size: 30px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 19.8px; 
    margin-bottom: 15px;
}
@keyframes bounce {
    30% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}
.animar:hover {
    animation: bounce 1s;
}
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.logo {
    height: 150px;
    margin-bottom: 10px;
}

.body {
    width: 100%;
    max-width: 350px;
    margin: auto;
    padding: 30px;
    text-align: center;
}

.p-button-rounded {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #be0029;
    background-color: #be0029;
    border-color: #be0029;
}

.form-floating {
    text-align: start;
}
.errorLabel {
    margin-left: 5px;
}