<app-dashboard></app-dashboard>

<div style="margin-top: 5rem;" class="card-container">
    <div class="card card1">
        <div class="card-image"></div>
        <div class="card-title">Primer Año</div>
        <div class="card-text">
            ☀️ Sin Anuncios importantes
            <button pButton pRipple style="margin-top: 10px;" type="button" routerLink="/teoria1" label="Ingresar al Material" class="p-button-rounded p-button-danger"></button>
        </div>
    </div>
    <div class="card card2">
        <div class="card-image"></div>
        <div class="card-title">Diploma Elemental</div>
        <div class="card-text">
            ☀️ Sin Anuncios importantes
            <button pButton pRipple style="margin-top: 10px;" type="button" routerLink="/teoria1" label="Ingresar al Material" class="p-button-rounded p-button-danger"></button>
        </div>
    </div>
    <div class="card card3">
        <div class="card-image"></div>
        <div class="card-title">Diploma Superior</div>
        <div class="card-text">
            ☀️ Sin Anuncios importantes
            <button pButton pRipple style="margin-top: 10px;" type="button" routerLink="/teoria1" label="Ingresar al Material" class="p-button-rounded p-button-danger"></button>
        </div>
    </div>
</div>
